<table class="center">
    <tr>
    <th>SN</th>
    <th>Name</th>
    <th>Code</th>
    <th>Joined Date</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Address</th>
    <th>Position</th>
    <th>Mobile Number</th>
    
        

    </tr>
    <tr *ngFor="let column of employees;let i=index">
    <td>{{i+1}}</td>
    <td>{{column.Name}}</td>
    <td>{{column.Code}}</td>
    <td>{{column.JoinedDate|date}}</td>
    <td>{{column.Email}}</td>
    <td>{{column.Gender}}</td>
    <td>{{column.Address}}</td>
    <td>{{column.Position}}</td>
    <td>{{column.MobileNo}}</td>
    </tr></table>