.container{
  margin-top: 30px;
}
thead{
  background-color: black;
}

th{
  color: white;
  padding: 10px;
  text-align: center;
  
}
td{
  color: white;
  text-align:center;
  padding: 5px;
  background-color: rgb(36, 43, 43);
  
  
}
table {
  border: 1px solid black;
}


